{% extends 'auth/base.html' %}

{% block title %} Sign-In {% endblock title %}

{% block content %}

<div class="wrapper">
  <div class="container justify-content-center" id="loginbox">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <img
      id="signinimg"
      src="/static/images/Signin.png"
      style="margin-top: 5.3rem"
      alt=""
    />
    {% else %}
    <img id="signinimg" src="/static/images/Signin.png" alt="" />
    {% endif %} {% endwith %}
    <div class="form-data">
      <div class="container-fluid d-flex justify-content-center">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
        </div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter">
              Beat <span class="bi bi-soundwave"></span> Box
            </h3>
          </div>
        </div>
        <fieldset>
          {{ form.username(tag='input', placeholder='Username') }}
        </fieldset>

        <fieldset>
          {{ form.password(tag='input', placeholder='Password') }}
        </fieldset>
        {{ form.submit(id='form-btn') }}
        <span class="has-separator">Or</span>
        <a
          class="password-reset"
          href="{{ url_for('auth.reset_password_request') }}"
          >Forgot password?</a
        >
      </form>
      <div class="sign-up">
        Don't have an account?
        <a href="{{ url_for('auth.register') }}">Sign up</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}