#grid {
    display: grid;
    max-width: 35rem;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "song-card-0 song-card-1 song-card-2";
}

img {
    max-width: 100%;
    height: auto;
}

.song-card-0 {
    grid-area: song-card-0;
}

.song-card-1 {
    grid-area: song-card-1;
}

.song-card-2 {
    grid-area: song-card-2;
}


#left {
    float: left;
    margin: 10px;
}

#right {
    float: right;
    margin: 10px;
}

#s-1 {
    width: 100%;
}

.zoom {
    transition: transform .2s;
    margin-top: 10px;
    margin-bottom: 25px;
}

.zoom:hover {
    transform: scale(1.5);
}

#selectorgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "selector-0 selector-1 selector-2"
        "selector-3 selector-4 selector-5"
        "selector-6 selector-7 selector-8";
    width: 30rem;
    max-height: auto;
    margin: 5rem;
}

#selectionbtn {
    border-width: 0;
    padding: 0;
    aspect-ratio: 1;
}

.selector-0 {
    grid-area: selector-0;
}

.selector-1 {
    grid-area: selector-1;
}

.selector-2 {
    grid-area: selector-2;
}

.selector-3 {
    grid-area: selector-3;
}

.selector-4 {
    grid-area: selector-4;
}

.selector-5 {
    grid-area: selector-5;
}

.selector-6 {
    grid-area: selector-6;
}

.selector-7 {
    grid-area: selector-7;
}

.selector-8 {
    grid-area: selector-8;
}

#submit-btn {
    margin-top: 6vh;
    margin-bottom: .5vh;
    background-color: #FCFCFD;
    border-width: 0px;
    border-radius: 0px;
    border-color: #FCFCFD;
}

#search-col {
    flex-grow: 0;
}

#flask_btn {
    background-color: #FCFCFD;
    border-width: 0px;
    border-radius: 0px;
    border-color: #FCFCFD;
    color: black;
}

#stopbtn {
    background-color: #f1f1f1;
    border-width: 1.5px;
    border-radius: 10px;
    border-color: black;
    color: black;
}

.disabled {
    color: black;
}

@media only screen and (max-width: 1026px) {
    #topnavbar {
        display: none;
    }
    #footer{
       text-align: center;
    }
    .col-2{
        display:inline-block;
        vertical-align: middle;
        float: none;
     }
     #icon1{
        margin-top: 1px;
     }
}

@media only screen and (min-width: 1026px) {
    #footer {
        display: none;
    }
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.button-30 {
    height: 36px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}