#grid {
    display: grid;
    max-width: 35rem;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "song-card-0 song-card-1 song-card-2"
        "song-card-3 song-card-4 song-card-5"
        "song-card-6 song-card-7 song-card-8";
}

img {
    max-width: 100%;
    height: auto;
}

.song-card-0 {
    grid-area: song-card-0;
}

.song-card-1 {
    grid-area: song-card-1;
}

.song-card-2 {
    grid-area: song-card-2;
}

.song-card-3 {
    grid-area: song-card-3;
}

.song-card-4 {
    grid-area: song-card-4;
}

.song-card-5 {
    grid-area: song-card-5;
}

.song-card-6 {
    grid-area: song-card-6;
}

.song-card-7 {
    grid-area: song-card-7;
}

.song-card-8 {
    grid-area: song-card-8;
}

#left {
    float: left;
    margin: 10px;
}

#paginationBTN {
    border-width: 1.5px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

#right {
    float: right;
    margin: 10px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
}

#userAvatar {
    border-radius: 50%;
}

#footer {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

#post-form {
    width: 80vw;
}

#post-form-btn {
    justify-content: flex-end;
    margin-right: 1vw;
}

#dropdownMenuButton {
    color: black;
    background-color: #f1f1f1;
    border-width: 0;
    border-color: black;
    padding: 3px;
    margin-right: .7vw;
    margin-left: .7vw;
    margin-bottom: 2vh;
}

#flashmsg {
    justify-content: center;
}

#usercard {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 1vh;
    padding: 1vh;
}

#likeslink {
    color: #f1f1f1;
    background-color: #007bff;
    border-radius: 10px;
    height: 23.5px;
    padding: 0 7px 0 7px;
    margin-left: 4px;
    margin-bottom: 1px;

}

#backbtn {
    padding-top: .5vw;
    margin-top: .5vw;
    padding-left: .5vw;
    margin-left: .5vw;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 24px;
    color: black;
}

.vertical-center {
    display: flex;
    align-items: center;
}

#commentdisplaybox {
    width: 80vw;
    padding: 1vw;
    margin: 1vw;
}

.dropdown-item {
    background-color: #f1f1f1;
}

.dropdown-menu {
    padding: 0;
    border-color: black;
}

#likesdisplaymsg {
    margin: 5px;
    text-align: center;
}

#flask_btn {
    background-color: #FCFCFD;
    border-width: 0px;
    border-radius: 0px;
    border-color: #FCFCFD;
    color: black;
}

@media only screen and (max-width: 361px) {
    #right {
        font-size: 5px;
    }

    #likeslink {
        padding: 1px 5px 0 5px;
        font-size: 12px;
    }

    #left {
        margin: 5px 3px 10px 3px;
        font-size: 9px;
    }
}

@media only screen and (max-width: 376px) {
    #right {
        font-size: 11px;
        margin-top: 0;
        padding-top: 10px;
    }

    #likeslink {
        padding: 1px 5px 0 5px;
    }

    #left {
        margin: 3px 3px 10px 3px;
        font-size: 8px;
    }
}

@media only screen and (max-width: 395px) {
    #right {
        font-size: 14px;
        margin-top: 0;
        padding-top: 4px;
    }

    #likeslink {
        padding: 1px 5px 0 5px;
    }

    #left {
        margin: 3px 3px 10px 3px;
        font-size: 14px;
    }
    #timestamppost{
        font-size: 10px;
    }
}

@media only screen and (max-width: 415px) {
    #right {
        font-size: 14px;
        margin-top: 1vh;
        padding-top: 4px;
    }

    #likeslink {
        padding: 1px 5px 0 5px;
    }

    #left {
        margin: 3px 3px 10px 3px;
        font-size: 14px;
        margin-top: 1vh;
    }
    #searchborder{
        border-radius: 20px;
        width: 80vw;
    }
}

@media only screen and (max-width: 1026px) {
    #topnavbar {
        display: none;
    }
    #footer{
       text-align: center;
    }
    .col-2{
        display:inline-block;
        vertical-align: middle;
        float: none;
     }
     #icon1{
        margin-top: 1px;
     }
}

@media only screen and (min-width: 1026px) {
    #footer {
        display: none;
    }
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 25px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.button-30 {
    height: 36px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#searchbtn{
    background-color: #fdfdfd;
    color: black;
    border-color: #fdfdfd;
}

#searchbtnbox{
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 2px;
    height: 30px;
}

#searchbox{
    border-radius: 20px;
    margin-right: 2px;
}

#searchborder{
    border-radius: 20px;
    margin:0;
    max-width: 100%;
}