{% extends 'components/layout.html' %}
{% block title %}Comments{% endblock title %}
{% block css %}
<link rel="stylesheet" href="/static/css/main.css">
{% endblock css %}
{% block js %}
<script src="/static/Javascript/main.js" defer></script> {% endblock js %}
{% block content %}
<a href="{{ back }}"><i id='backbtn' class="fa fa-arrow-left" aria-hidden="true"></i></a>
<div class="row justify-content-center mt-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="w3-row">
    {% if post %}
    {% for post in post %}
    {% include 'components/posts.html' %}
    {% endfor %}
    {% endif %}
</div>
<hr>
{% if comments|length > 0 %}
<div class="row justify-content-center">
    <h3>Comments</h3>
</div>
{% for comment in comments %}
<div class="container justify-content-center">
<div class="w3-card-4 w3-margin w3-white" id="commentdisplaybox">
    <div class="w3-container">
        <h3><a class="text-dark" href="{{(url_for('user', username=comment.comment_author.username))}}"><img
                    id="userAvatar" src="{{ comment.comment_author.avatar(34) }}"> {{ comment.comment_author.username
                }}</a>
                {% if comment.comment_author.id == current_user.id or comment.post_owner.user_id == current_user.id %}
                <a href="{{(url_for('removeComment', id=comment.id))}}"> <button type="button" class="close" aria-label="Close">
                    <span style="font-size:26px" aria-hidden="true">&times;</span>
                  </button></a>
                {% endif %}
        </h3>
    </div>
    <div class="w3-container">
        <div class="row ml-2">{{ comment.body }}</div>
        <div class="w3-row ">
        </div>
        <div id="right" class="column"><span class="w3-opacity">{{ moment(comment.timestamp).fromNow() }}</span></div>
    </div>
</div>
</div>
{% endfor %}
{% else %}
<div class="row justify-content-center" id="likesdisplaymsg">
    <h3>This post has no Comments, Be the first one!</h3>
</div>
{% endif %}
<hr>
<div class="row justify-content-center">
    {% if next_url %}
    <a class="btn m-1" id="paginationBTN" href="{{ next_url }}" role="button">Older Comments</a>
    {% endif %}
    {% if prev_url %}
    <a class="btn m-1" id="paginationBTN" href="{{ prev_url }}" role="button">Newer Comments</a>
    {% endif %}
</div>
<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container pt-3">
        <h3><b><img id="userAvatar" src="{{ current_user.avatar(34) }}"> {{ current_user.username }} </b></h3>
    </div>
    <div class="w3-container">
        <div class="row justify-content-center">
            <form action="" method="post">
                {{ comment_form.hidden_tag() }}
                <p>
                    <br>
                    {{ comment_form.comment(id="post-form", placeholder="", cols=36, rows=4) }}<br>
                    {% for error in comment_form.comment.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                <div class="row" id="post-form-btn">
                    <button class="button-30" role="button">{{ comment_form.submit( id="flask_btn") }}</button>
                </div>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}