{% extends 'components/layout.html' %}
{% block title %}Profile Editor{% endblock title %}
{% block css %}
<link rel="stylesheet" href="/static/css/editprofile.css">
{% endblock css %}
{% block js %}
<script src="/static/Javascript/search.js" defer></script> {% endblock js %}
{% block content %}

<div class="w3-content" style="max-width:1400px">

  <header class="w3-container w3-center w3-padding-32">
    <div class="row justify-content-center mt-2">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
  </div>
    <h1><b>{{ "{}".format(current_user.username) }}</b></h1>
    {% if current_user.bio == None %}
    <p><span class="w3-tag">Add a Bio to be displayed on your page.</span></p>
    {% else %}
    <p><span class="w3-tag">{{ current_user.bio }}</span></p>
    {% endif %}
    <form action="" method="post">
      {{ bio_form.hidden_tag() }}
      <p>
        <br>
        {{ bio_form.bio(id="bio-form", placeholder="New Bio?", cols=36, rows=4) }}<br>
      <div class="row justify-content-center" id="post-form-btn">
        {{ bio_form.submit(id='bio-submit') }}
      </div>
      </p>
    </form>
    <h4>Search for songs by artist and track name to add to your grid.</h4>
    <form id="infoform">
      <div class="row justify-content-center">
        <div class="col mb-2" id="search-col"> <label for="artist">Artist Name:</label>
          <input name="artist" id="artist" type="text" required>
          <br>
          <label for="track">Track Name:</label>
          <input name="track" id="track" type="text" required>
        </div>
        <div class="col mb-2 d-flex justify-content-center" id="search-col"> <button type="submit" id="submit-btn">Search<span class="material-symbols-outlined">
          search
          </span></button></div>
      </div>
    </form>
    <form method="POST">
      {{ grid_form.hidden_tag() }}
      <fieldset hidden>
        {{ grid_form.artist(id='grid_artist', placeholder='artist') }}
        {{ grid_form.track(id='grid_track', placeholder='track') }}
        {{ grid_form.img(id='grid_img', placeholder='img') }}
        {{ grid_form.location(id='grid_location', placeholder='location') }}
        <div id="addbtn" class="div m-3" hidden>{{ grid_form.submit(id='grid-btn') }}</div>
      </fieldset>
    </form>
  </header>
  <div class="container" id="grid">
    <div class="song-card-1 zoom">
      <img id="s-1" class="img-fluid albumcover" src="" onclick="event.preventDefault(); clickEvent(this.id);" />
    </div>
  </div>
  <div class="col" align="center">
    <h3 id="currently" class="text-center" hidden></h3>
    <button class="btn btn-info row mt-2" id="stopbtn" disabled hidden>Click
      the album cover to play/pause or<br>select a tile on your grid below to replace it.</button>
  </div>
  <div class="row justify-content-center">
    <div class="container" id="selectorgrid" hidden>
      <div id="selectionbtn" class="selector-0 btn" onclick="event.preventDefault(); gridSelection(0);"><img src={{
          grid[0].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-1 btn" onclick="event.preventDefault(); gridSelection(1);"><img src={{
          grid[1].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-2 btn" onclick="event.preventDefault(); gridSelection(2);"><img src={{
          grid[2].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-3 btn" onclick="event.preventDefault(); gridSelection(3);"><img src={{
          grid[3].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-4 btn" onclick="event.preventDefault(); gridSelection(4);"><img src={{
          grid[4].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-5 btn" onclick="event.preventDefault(); gridSelection(5);"><img src={{
          grid[5].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-6 btn" onclick="event.preventDefault(); gridSelection(6);"><img src={{
          grid[6].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-7 btn" onclick="event.preventDefault(); gridSelection(7);"><img src={{
          grid[7].track_img }} alt=""></div>
      <div id="selectionbtn" class="selector-8 btn" onclick="event.preventDefault(); gridSelection(8);"><img src={{
          grid[8].track_img }} alt=""></div>
    </div>
  </div>
</div>
{% endblock content %}