{% extends 'components/layout.html' %}
{% block title %}{% if user == current_user %}Home{% else %}{{ user.username }}'s Page{% endif %}{% endblock title %}
{% block css %}
<link rel="stylesheet" href="/static/css/main.css">
{% endblock css %}
{% block js %}
<script type="text/javascript">
    artists_tracks = {{ artist_track | tojson }}
    secret_ = {{ Secret | tojson }}
</script>
<script src="/static/Javascript/main.js" defer></script> {% endblock js %}
{% block content %}

<div class="w3-content" style="max-width:1400px">
    <header class="w3-container w3-center w3-padding-32">
        <div class="row justify-content-center mt-2">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <img id="userAvatar" src="{{ user.avatar(34) }}" style="width: 4vw;">
        <h1><b>{{ user.username }}</b></h1>
        {% if user.bio == None %}
        {% else %}
        <p><span class="w3-tag">{{ user.bio }}</span></p>
        {% endif %}
        {% if user.last_seen %}<p><span class="w3-tag">Last seen on: {{ moment(user.last_seen).format('LLL') }}</span></p>{% endif %}
        <div class="row justify-content-center">
            <div class="dropdown">
                <a href="{{(url_for('viewFollows', username=user.username,listname='followers'))}}" class="btn" type="button" id="dropdownMenuButton" aria-expanded="false">{{ user.followers.count() }}  Followers</a>
            </div>
            <div class="dropdown">
                <a href="{{(url_for('viewFollows', username=user.username,listname='following'))}}" class="btn" type="button" id="dropdownMenuButton" aria-expanded="false">Following  {{ user.followed.count() }}</a>
            </div>
        </div>
        {% if user == current_user %}
        <p><a href="{{ url_for('profile_editor') }}" style="color:black">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
        <form action="{{ url_for('follow', username=user.username) }}" method="post">
            {{ follow_form.hidden_tag() }}
            <button class="button-30" role="button">{{ follow_form.submit( id="flask_btn", value='Follow') }}</button>
        </form>
        </p>
        {% else %}
        <p>
        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
            {{ follow_form.hidden_tag() }}
            <button class="button-30" role="button">{{ follow_form.submit( id="flask_btn", value='Unfollow') }}</button>
        </form>
        </p>
        {% endif %}
    </header>
    <div class="container" id="grid">
        {% for i in range(9) %}
        {% if artist_track[i][0] != 0 %}
        <div class="song-card-{{ i }} zoom"><img id="s-{{ i }}" src={{ grid[i].track_img }}
                onclick="event.preventDefault(); clickEvent({{ i }});" /></div>
        {% else %}
        <div class="song-card-{{ i }} zoom"><img id="s-{{ i }}" src={{ grid[i].track_img }} " /></div>
        {% endif %}
        {% endfor %}
    </div>
    <div class=" col" align="center">
            <h3 id="currently" class="text-center" hidden></h3>
            <button class="btn btn-info row" id="stopbtn" onclick="event.preventDefault(); stopSong();" disabled
                hidden>Click
                the album cover to play/pause.</button>
        </div>
        <hr>
        <div class="w3-row">
            {% if posts %}
            {% for post in posts %}
            {% include 'components/posts.html' %}
            {% endfor %}
            {% else %}
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container pt-3">
                    <h3><b><img id="userAvatar" src="{{ current_user.avatar(34) }}"> {{ current_user.username }} </b>
                    </h3>
                </div>
                <div class="w3-container">
                    <div class="row ml-2 mb-5 mr-1">This page has no posts yet, Be the first one!</div>
                </div>
            </div>
            {% endif %}
        </div>
        <hr>
        <div class="row justify-content-center">
            {% if next_url %}
            <a class="btn m-1" id="paginationBTN" href="{{ next_url }}" role="button">Older Posts</a>
            {% endif %}
            {% if prev_url %}
            <a class="btn m-1" id="paginationBTN" href="{{ prev_url }}" role="button">Newer Posts</a>
            {% endif %}
        </div>
        <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container pt-3">
                <h3><b><img id="userAvatar" src="{{ current_user.avatar(34) }}"> {{ current_user.username }} </b></h3>
            </div>
            <div class="w3-container">
                <div class="row justify-content-center">
                    <form action="" method="post" id="postbox">
                        {{ post_form.hidden_tag() }}
                        <p>
                            <br>
                            <div class="row justify-content-center">                            {{ post_form.post(id="post-form", placeholder="What's happening?", cols=36, rows=4) }}<br>
                            {% for error in post_form.post.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}</div>
                        <div class="row" id="post-form-btn">
                            <button id="postbtn1" class="button-30" role="button">{{ post_form.submit( id="flask_btn") }}</button>
                        </div>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}